header {
    text-align: center;
    background-color: #EEE;
    margin-bottom: 20px;
    padding: 5px;
    &:hover {
        text-decoration: underline;
        color: #BB1111;
        background-color: #521052;
        transition: text-decoration 0.75s linear;
        transition: color 0.75s ease-in-out;
        transition: background-color 1s ease;
    }
}